@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  background-color: #e1e6ec;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  width: 300px;
  border-radius: 8px;
  background-color: #e1e7ec;
  box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.container h1 {
  font-size: 1.5rem;
  margin: 12px 0;
  color: #a2b1c6;
  text-shadow: 2px 2px #e1e7ec;
}
.container img {
  width: 80%;
  margin-bottom: 12px;
}
.level {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #e1e6ec;
  box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
  border-radius: 25px;
  margin-bottom: 12px;
}
.level::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #a2b1c6;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
  width: 15px;
  height: 15px;
  border-radius: 25px;
}
.buttons {
  display: inline-block;
  margin: 12px 0;
}

.buttons button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #e1e6ec;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
  border: none;
}
.buttons button:active {
  background-color: #e1e6ec;
  box-shadow: inset 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
}
#play {
  margin: 0 16px;
}
.buttons button img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
